.kard-box {
    display: flex;
    height: 100%;

    padding: 5%;

    border-radius: 32px;
    background-color: #8126dd;
    color: #faeaff;
    box-shadow: 0 8px 32px 0 rgb(234 220 255 / 60%);
}

.kard-text {
	color: #fff;
	font-weight: 400;
	font-family: Poppins, sans-serif;;
}
.kard-xl-title {
	color: #fff;
	font-weight: 600;
	font-family: Poppins, sans-serif;

	font-size: 3vw;
}
.kard-title {
	color: #fff;
	font-weight: 600;
	font-family: Poppins, sans-serif;
}


.kard-box#profile {
	min-height: 5vh;
}

span#balance {
	font-weight: 600;
}


.kard-box.vaults {
}

#newVault-btn {
	cursor: pointer;
	background-color: #ffffffe3;
}
#newVault-btn:hover {
	/*background: #fbfbfbe3!important;*/
	opacity: 0.9;
}

div.vault {
	padding: 3%;
	margin: 2.5%;

	min-width: 175px;
	width: 175px;
	max-height: 200px;
	
	border-radius: 8px;
	border: 1px #181818 solid;

	position: relative;

	box-shadow: 1px 2px 5px 0 rgb(31 29 29 / 35%);
}
div.vault > div > span {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
div.vault#newVault-btn > div > span {
	text-overflow: unset;
	white-space: unset;
	overflow: unset;
}

span.vault-emote {
	font-size: 3rem;
}

span.vault-in {
	color: #000;
	font-weight: 800;
	font-size: 1rem;
	font-family: Poppins, sans-serif;
}
span.vault-goal {
	color: #060606;
	font-weight: 400;
	font-size: .9rem;
	font-family: Poppins, sans-serif;
}
span.vault-balance-separator {
	color: #020202;
	font-weight: 600;
	font-size: .7rem;
}





.icon-shortcut {
	font-size: 3.5vw;
	cursor: pointer;
	max-width: min-content;
}
.icon-shortcut:hover {
	opacity: 0.9;
}


#selftransactions-btn, #friendstransactions-btn {
	font-weight: 700;
	font-size: 3vw;

	cursor: pointer;
}

#transa-list-btns {
    border-bottom: 2px #3e007c solid;
    padding-bottom: 10px;
}
#transa-list-btns > div#separator {
	border-top: 2px #3e007c solid;
	transform: rotate(90deg) translate(0, calc(50% - 2px));
}


.kard-transaction {
	min-height: 75px;
	height: 100px;
	width: 100%;

	background-color: aliceblue;
	border-radius: 10px;
	border: .5px black solid;
	padding: 4%;
	margin: 2%;

	display: flex;
    align-items: center;
}


.kard-transaction-icon {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    color: transparent;
}

.kard-transaction-text {
	padding-left: 1.5rem;

	font-family: Poppins, sans-serif;
	color: var(--bs-gray-900);

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.kard-transaction-title {
	font-size: 2.3855vw;
	font-weight: 600;
}
.kard-transaction-subtitle {
	font-size: 1.8vw;
	font-weight: 400;
	color: var(--bs-gray-600);
}

.kard-transaction-amount {
	text-align: right;
	display: flex;
    align-items: center;
    justify-content: flex-end;

	font-size: 3vw;
	font-weight: 700;
}


.limit {
	background: rgba(255,255,255,0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	height: fit-content;
}
.limits-title {
	line-height: 1;
    display: block;
    font-size: 1.8vw;
    font-family: Poppins, sans-serif;
    color: #ffffff;
}
.limits-subtitle {
	display: block;
    font-size: 1.4vw;
    font-family: Poppins, sans-serif;
    color: #ffffffd4;
}

.limit-value {
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #fff;
	height: 15px;
	width: 0;
}
.limit-value.paiement {
	animation: loadPaiement 3s normal forwards;
}
.limit-value.cashout {
	animation: loadCashout 3s normal forwards;
}
/*
@keyframes load {
	0% { width: 0; }
	100% { width: 68%; }
}
*/



.card-details.card-number {
    top: 55%;
    left: 7%;
 
    font-size: 2.2vw;
}
.card-details.card-cvv {
    top: 80%;
    left: 65%;

    font-size: 2vw;
}
.card-details.card-expi {
    top: 80%;
    left: 7%;

    font-size: 2vw;
}
.card-details.card-holder {
    top: 5%;
    left: 6%;

    font-weight: 500;
    color: white!important;
    font-size: 1.5vw;
}


.card-details.visa.card-number {
    top: 40%;
    left: 7%;
 
    font-size: 1.8vw;
}
.card-details.visa.card-cvv {
    top: 75%;
    left: 50%;

    font-size: 2vw;
}
.card-details.visa.card-expi {
    top: 75%;
    left: 7%;

    font-size: 2vw;
}
.card-details.visa.card-holder {
    top: 60%;
    left: 7%;

    font-weight: 500;
    color: white!important;
    font-size: 1.5vw;
}

.hide-card-details-btn {
    font-size: 1.5vw;
    width: 90%;
    display: none;
}
.reveal-card-details-btn {
    font-size: 1.5vw;
    width: 90%;
}

#mastercard {
	place-self: center;
	place-items: center;
}
.card-details {
    position: absolute;
    color: #ffffffd6;
    font-family: Ocra,Arial,sans-serif;
    font-weight: 800;
    text-transform: uppercase;

    cursor: pointer;
}
.card-details.visa {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}
.card-details.visa:hover {
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}


.rib {
	font-size: 2vw;
	color:  black;
	font-weight: 700;
	font-family: Poppins;
}
.rib.user {
	font-size: 3vw;
	color: #ededed;
}

.rib.subtitle {
	font-size: 1vw;
	color: #a1a1a1;
	display: block;
	line-height: .5;
	margin-top: 5%;
}
.rib.u.subtitle {
	color: #1c1c1c;
	margin: 0;
}

img.rib {
	width: 5vw;
}
#rib-user {
	position: relative;
	top: -10%;
}
.rib.copyiban-btn {
	text-decoration: none;
	background: -webkit-linear-gradient(#8b33e3, #9b37ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.rib.copyiban-btn:hover {
	text-decoration: underline;
}
.rib.download.kard-btn {
	background-color: #9123ff;
	color: #fff;
}

.rib-top {
    background: rgb(102,0,203);
    /*background: linear-gradient(
    				90deg,
    				rgba(102,0,203,1) 0%,
    				rgba(115,0,230,1) 28%,
    				rgba(120,0,240,1) 45%,
    				rgba(186,117,255,1) 82%

    );*/
    border-radius: 10px 10px 0 0;
    padding: 2%;
}
.rib-bottom {
	background: #fff0fe;
	/*background: linear-gradient(
					180deg,
					rgba(255,203,250,1) 8%,
					rgba(255,233,255,1) 61%,
					rgba(255,255,255,1) 100%
	);*/
	border-radius: 0 0 10px 10px;
	padding: 2%;
}


/* Actually broke (not circle) but well, its look good so.. */
.loader {
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;

	z-index: 100;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30%;
  height: 30%;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


